################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules/
/test-results/
/supabase-config.js
/.env.local
